ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, NAV, SECTION
{
	display: block;
}
AUDIO[controls], CANVAS, VIDEO
{
	display: inline-block;
}
HTML
{
	font-size: 100%;
	overflow-y: scroll;
}
BODY
{
	margin: 0;
	font-size: 13px;
	line-height: 1.231;
}
BODY, BUTTON, INPUT, SELECT, TEXTAREA
{
	font-family: sans-serif;
	color: #222;
}
A
{
	color: #00E;
}
A:visited
{
	color: #551A8B;
}
A:focus
{
	outline: thin dotted;
}
A:hover, A:active
{
	outline: 0;
}
ABBR[title]
{
	border-bottom: 1px dotted;
}
B, STRONG
{
	font-weight: bold;
}
BLOCKQUOTE
{
	margin: 1em 40px;
}
DFN
{
	font-style: italic;
}
HR
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #CCC;
	margin: 1em 0;
	padding: 0;
}
INS
{
	background: #FF9;
	color: #000;
	text-decoration: none;
}
MARK
{
	background: #FF0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
PRE, CODE, KBD, SAMP
{
	font-family: monospace, monospace;
	font-size: 1em;
}
PRE
{
	white-space: pre;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}
Q
{
	quotes: none;
}
Q:before, Q:after
{
	content: "";
	content: none;
}
SMALL
{
	font-size: 85%;
}
SUB, SUP
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
SUP
{
	top: -0.5em;
}
SUB
{
	bottom: -0.25em;
}
UL, OL
{
	margin: 1em 0;
	padding: 0 0 0 40px;
}
DD
{
	margin: 0 0 0 40px;
}
NAV UL, NAV OL
{
	list-style: none;
	margin: 0;
	padding: 0;
}
IMG
{
	border: 0;
}
/*svg:not(:root)*/
#INVALID-RULE
{
	overflow: hidden;
}
FIGURE
{
	margin: 0;
}
FORM
{
	margin: 0;
}
FIELDSET
{
	border: 0;
	margin: 0;
	padding: 0;
}
LEGEND
{
	border: 0;
	margin-left: -7px;
	padding: 0;
}
LABEL
{
	cursor: pointer;
}
BUTTON, INPUT, SELECT, TEXTAREA
{
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}
BUTTON, INPUT
{
	line-height: normal;
}
BUTTON, INPUT[type="button"], INPUT[type="reset"], INPUT[type="submit"]
{
	cursor: pointer;
}
INPUT[type="checkbox"], INPUT[type="radio"]
{
	box-sizing: border-box;
}
INPUT[type="search"]
{
	box-sizing: content-box;
}
BUTTON::-moz-focus-inner, INPUT::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
TEXTAREA
{
	overflow: auto;
	vertical-align: top;
}
TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
}
BODY
{
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
.wrapper
{
	margin: auto;
	width: 960px;
}
#header-container
{
	background-color: #F16529;
	height: 130px;
	border-bottom: 20px solid #E44D26;
	margin-bottom: 50px;
	box-shadow: 0 40px 40px -40px #AAA;
}
H2, H3
{
	margin: 30px 0;
}
H2
{
	font-size: 40px;
}
H3
{
	font-size: 30px;
}
#title, H2, H3
{
	font-weight: normal;
}
#title
{
	font-size: 60px;
	color: #FFFFFF;
	float: left;
}
HEADER NAV
{
	float: right;
	margin-top: 100px;
}
HEADER NAV UL LI
{
	display: inline;
}
NAV A
{
	padding: 20px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #E44D26;
}
ASIDE
{
	color: #FFFFFF;
	padding: 20px;
	float: right;
	height: 500px;
	width: 200px;
	background-color: #F16529;
	border-bottom: 20px solid #E44D26;
	margin-bottom: 50px;
	box-shadow: 0 0 40px -10px #AAA;
}
#main P
{
	font: 16px / 26px Helvetica, "Helvetica Neue", Arial;
	width: 620px;
}
ARTICLE HEADER
{
	margin-bottom: 50px;
	padding-bottom: 30px;
	width: 700px;
	box-shadow: 0 45px 60px -60px #AAA;
}
#footer-container
{
	background-color: #F16529;
	height: 240px;
	border-top: 20px solid #E44D26;
	margin-top: 50px;
	box-shadow: 0 -40px 40px -40px #AAA;
}
#footer-container FOOTER
{
	color: #FFFFFF;
}
.ir
{
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}
.ir BR
{
	display: none;
}
.hidden
{
	display: none;
	visibility: hidden;
}
.visuallyhidden
{
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
{
	clip: rect(auto auto auto auto);
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible
{
	visibility: hidden;
}
.clearfix:before, .clearfix:after
{
	content: "";
	display: table;
}
.clearfix:after
{
	clear: both;
}

#gmap_canvas
{
	height: 400px;
	position: relative;
	width: 400px;
}
.actions
{
	background-color: #FFFFFF;
	bottom: 30px;
	padding: 10px;
	display: inline;
	float: right;
	position: relative;
	left: -253px;
	top: -405px;
}
.actions LABEL
{
	display: block;
	margin: 2px 0 5px 10px;
	text-align: left;
}
.actions INPUT, .actions SELECT
{
	width: 85%;
}
.button
{
	background-color: #D7E5F5;
	background-image: linear-gradient(#d7e5f5, #cbe0f5);
	border-top: 1px solid #ABBBCC;
	border-left: 1px solid #A7B6C7;
	border-bottom: 1px solid #A1AFBF;
	border-right: 1px solid #A7B6C7;
	border-radius: 12px;
	box-shadow: inset 0 1px 0 0 #FFFFFF;
	color: #1A3E66;
	font: normal normal 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	margin-bottom: 5px;
	padding: 6px 0 7px;
	text-align: center;
	text-shadow: 0 1px 1px #FFF;
	width: 150px;
}
.button:hover
{
	background-color: #CCD9E8;
	background-image: linear-gradient(#ccd9e8, #c1d4e8);
	border-top: 1px solid #A1AFBF;
	border-left: 1px solid #9CAABA;
	border-bottom: 1px solid #96A3B3;
	border-right: 1px solid #9CAABA;
	box-shadow: inset 0 1px 0 0 #F2F2F2;
	color: #163659;
	cursor: pointer;
}
.button:active
{
	border: 1px solid #8C98A7;
	box-shadow: inset 0 0 4px 2px #ABBCCF, 0 0 1px 0 #EEEEEE;
}
