<!doctype html>

<html>
  <head>
    <title>ChurchFinder</title>
    <meta name="description" content="Using Google to find a church near you">
    <meta name="author" content="Joshua Rosaaen">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/modernizr-2.0.6.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
    <script src="javascripts/script.js"></script></head>
  <body>
    <div id="header-container">
      <header class="wrapper">
        <h1 id="title">ChurchFinder</h1>
      </header></div>
    <div id="main" class="wrapper">
      <article>
        <header>
          <h2>ChurchFinder</h2>
          <p>Do you travel? Are you away from home for the weekend? Are you seeking a new place to go to church? Church Finder can help.</p></header>

        <div id="gmap_canvas"></div>
        <div class="actions">
            <div class="button">
                <label for="gmap_where">Zipcode</label>
                <input id="gmap_where" type="text" name="gmap_where" /></div>
            <div id="button2" class="button" onclick="findAddress(); return false;">Search for all in Zipcode</div>
            <div class="button">
                <label for="gmap_keyword">Keyword (optional):</label>
                <input id="gmap_keyword" type="text" name="gmap_keyword" /></div>
            <div class="button">
              <!-- church,mosque,hindu_temple,place_of_worship,synagogue -->
                <label for="gmap_type">Type to find on Google</label>
                <select id="gmap_type">
                    <option value="church">Church</option>
                    <option value="place_of_worship">Place of Worship</option>
                    <option value="synagogue">Synagogue</option>
                    <option value="hindu_temple">Hindu Temple</option>
                    <option value="mosque">Mosque</option>
                </select>
            </div>
            <div class="button">
                <label for="gmap_radius">Radius:</label>
                <select id="gmap_radius">
                    <option value="1 mile">1 mile</option>
                    <option value="5 miles">5 miles</option>
                    <option value="10 miles">10 miles</option>
                    <option value="20 miles">20 miles</option>
                </select>
            </div>
            <input type="hidden" id="lat" name="lat" value="40.7143528" />
            <input type="hidden" id="lng" name="lng" value="-74.0059731" />
            <div id="button1" class="button" onclick="findPlaces(); return false;">Search for church</div></div>

        <!-- <%= yield %> -->

      </article></div> <!-- end div id="main" class="wrapper" -->
    <div id="footer-container">
      <footer class="wrapper">
        <h3>About the author</h3>
          <p></p>
          <p>I am a Dev Bootcamp student who has had to relocate from home in order to attend this awesome educational model for accelerated learning. I am a regular church attender when I am home, and due to this relocation I have created this app to help you find a church near you as a way to demonstrate a few of the things learned. This is just a project that may or may not be maintained in the future.</p>
          <p><a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" /></a></p></footer></div>
    <script src="//code.jquery.com/jquery-1.7.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/jquery-1.7.min.js"><\/script>')</script>
    <script src="/javascripts/application.js"></script></body>
</html>


