<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="<%= settings.locale %>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="<%= settings.locale %>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="<%= settings.locale %>"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
  <!-- <meta charset="UTF-8"> -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
  <title>ChurchFinder</title>
  <meta name="description" content="Using Google to find a church near you">
  <meta name="author" content="Joshua Rosaaen">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/modernizr-2.0.6.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>

  <script src="javascripts/script.js"></script>

</head>
<body>
  <div id="header-container">
    <header class="wrapper">
      <h1 id="title">ChurchFinder</h1>
      <nav>
        <ul>
          <li><a href="#">Some</a></li>
          <li><a href="#">navigation</a></li>
          <li><a href="#">links</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <div id="main" class="wrapper">
    <aside>
      <h3>Something aside</h3>
    </aside>
    <article>
      <header>
        <h2>ChurchFinder</h2>
        <p>Do you travel? Are you away from home for the weekend? Are you seeking a new place to go to church? Church Finder can help.</p>
      </header>

      <div id="gmap_canvas"></div>
      <div class="actions">
          <div class="button">
              <label for="gmap_where">Where:</label>
              <input id="gmap_where" type="text" name="gmap_where" /></div>
          <div id="button2" class="button" onclick="findAddress(); return false;">Search for address</div>
          <div class="button">
              <label for="gmap_keyword">Keyword (optional):</label>
              <input id="gmap_keyword" type="text" name="gmap_keyword" /></div>
          <div class="button">
              <label for="gmap_type">Type:</label>
              <select id="gmap_type">
                  <option value="art_gallery">art_gallery</option>
                  <option value="atm">atm</option>
                  <option value="bank">bank</option>
                  <option value="bar">bar</option>
                  <option value="cafe">cafe</option>
                  <option value="food">food</option>
                  <option value="hospital">hospital</option>
                  <option value="police">police</option>
                  <option value="store">store</option>
              </select>
          </div>
          <div class="button">
              <label for="gmap_radius">Radius:</label>
              <select id="gmap_radius">
                  <option value="500">500</option>
                  <option value="1000">1000</option>
                  <option value="1500">1500</option>
                  <option value="5000">5000</option>
              </select>
          </div>
          <input type="hidden" id="lat" name="lat" value="40.7143528" />
          <input type="hidden" id="lng" name="lng" value="-74.0059731" />
          <div id="button1" class="button" onclick="findPlaces(); return false;">Search for objects</div>
      </div>


      <!-- <%= yield %> -->

      <footer>
      <h3>About the author</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
      </footer>
    </article>
  </div>
  <div id="footer-container">
    <footer class="wrapper">
      <h3>A nice footer</h3>
    <p>
      <a href="http://jigsaw.w3.org/css-validator/check/referer">
          <img style="border:0;width:88px;height:31px"
              src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
              alt="Valid CSS!" />
      </a>
    </p>
    </footer>
  </div>
<script src="//code.jquery.com/jquery-1.7.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery-1.7.min.js"><\/script>')</script>

<script src="/javascripts/application.js"></script>

<!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
  <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
